asgiref==3.2.3
beautifulsoup4==4.8.2
boto==2.49.0
boto3==1.12.8
botocore==1.15.8
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
Django==2.1.15
django-cors-headers==3.2.1
docutils==0.15.2
feedfinder2==0.0.4
feedparser==5.2.1
gensim==3.8.1
idna==2.9
jieba3k==0.35.1
jmespath==0.9.5
joblib==0.14.1
lxml==4.5.0
newspaper3k==0.2.8
nltk==3.4.5
numpy==1.18.1
pandas==1.0.1
Pillow==7.0.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.23.0
requests-file==1.4.3
s3transfer==0.3.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
smart-open==1.9.0
soupsieve==2.0
sqlparse==0.3.0
tinysegmenter==0.3
tldextract==2.2.2
urllib3==1.25.8
